*           text eol=lf

# enforce specific line endings
*.bat       text eol=crlf

# dotfiles configurations
.*          text eol=lf

# Graphics
*.png       binary
*.jpg       binary
*.svg       binary
*.gif       binary
*.xcf       binary
