.temp
temp
.vscode/**
node_modules
.vscode-test/**
build/test/**
src/**
vsc-extension-quickstart.md
**/tsconfig.*
**/.eslintrc.json
**/*.ts
Makefile
*.config.js
images
!images/Makefile.png
**/.*
*.lock
